
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.app-footer{
  background-color: white;
  margin-top: 30px;
}

.top-btns, .buttom-btns, middle-btns{
  margin-top: 10px;
  margin-bottom: 10px;
}
